<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>VietNganSite_2015</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

	<!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
	<!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
	<!--script src="js/less-1.3.3.min.js"></script-->
	<!--append ‘#!watch’ to the browser URL, then refresh the page. -->
	
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="img/favicon.png">
  
	<script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/parallax.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>
    
    
    

</head>

<body>
<!--POPUP TAG-->
                            
			
<div class="modal fade" id="modal-container-74399" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title" id="myModalLabel">
					Modal title
				</h4>
			</div>
			<div class="modal-body">
				Nội dung
			</div>
		</div>
		
	</div>
	
</div>

<!--END POPUP TAG -->
<div style="position: fixed; width: 100%; height: 1900px;" class="parallax-window" data-speed="0.3" data-parallax="scroll" data-image-src="img/70_vn_layer1_bg.png" data-z-index="-100"></div>
<style>
body{
    color: black;
}
.trongsuot-0{
    background: url(img/0_percent_white_bg.png);
}
.trongsuot-80{
    background: url(img/80_percent_white_bg.png);
}
</style>
<!-- FADE IN -->
<script>
$(document).ready(function() {
    tiles = $(".hideme").fadeTo(0, 0);
    
    $(window).scroll(function(d,h) {
        tiles.each(function(i) {
            a = $(this).offset().top + $(this).height();
            b = $(window).scrollTop() + $(window).height();
            if (a < b) $(this).fadeTo(500,1);
        });
    });
});
</script>
<!-- END FADE IN -->
<div class="container" style="padding: 0 auto; width: 100%;">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<!-- Part 1 -->
            <div class="row clearfix">
				<div class="col-md-12 column" style="height: 400px; padding: 0px; position: relative; ">
                    <div style="width: 100%; height: 100%; position: absolute;">
                        <!--
                        <img width="100%"  src="img/vn_main_banner.jpg" />
                        -->
                        <div style="width: 100%; height: 400px;" class="parallax-window" data-z-index="0" data-speed="0.5" data-parallax="scroll" data-image-src="img/vn_main_banner.jpg"></div>
                    </div>
                    <div style="width: 100%; height: 50px; text-align: center; background-color: white; opacity: 0.8; position: absolute;">
                        <img height="50px" src="img/vn_Logo_Vietngan_5.jpg"/>
                    </div>
                     
				</div>
			</div>
            <!-- END Part 1 -->
            <!-- Part 2 -->
			<div class="row clearfix" style="margin-top: 20px; background: url(img/80_percent_white_bg.png);">
				<div class="col-md-12 column">
                    <div style="text-align: center;">
                        <button type="button" class="btn btn-primary hideme trongsuot-0"
                            style="
                            border-radius: 0px !important ; padding-left: 30px !important; padding-right: 30px !important; color: black; border: solid 1px black; margin-top: 20px; ">
                            VỀ VIỆT NGÂN
                        </button>
                        <br />
                        <div class="hideme trongsuot-0" style="margin-top: 10px; display: inline-block; width: 60%; text-align: center; border-radius: 7px; padding: 20px;">
                        Đội ngũ tư vấn bất động sản VIỆT NGÂN gồm các chuyên viên và cộng sự giàu kinh nghiệm, am hiểu thị trường, có mối quan hệ xã hội sâu rộng, cho phép chúng tôi cung cấp dịch vụ toàn diện với chất lượng cao, đảm bảo lợi ích tối ưu cho khách hàng. Mục tiêu của chúng tôi là xây dựng thương hiệu bất động sản đáng tin cậy hàng đầu thị trường. Chuyên môn của chúng tôi bao gồm
                        </div>
                    </div>
                    
				</div>
			</div>
            <!-- END Part 2 -->
            
            <!-- Part 3 -->
			<div class="row clearfix" style="margin-top: 20px; background: url(img/0_percent_white_bg.png)">
				<div class="col-md-12 column">
                    <div>
                        <button type="button" class="btn btn-primary hideme trongsuot-80"
                            style="
                            border-radius: 0px !important ; padding-left: 30px !important; padding-right: 30px !important; background: url(img/80_percent_white_bg.png); color: black; border: solid 1px black; float: right; margin-right: 10%; ">
                            HOẠT ĐỘNG
                        </button>
                        <div class="clearfix"></div>
                    </div>
                    <div style="position: relative; text-align: center; margin-top: 10px; height: 400px; width: 650px; margin: 0 auto;">
                        <div class="hideme" style="position: absolute; margin-top: 50px;">
                            <img style="margin-left: 180px;" width="300px" src="img/vn_hinhthoi.png" />
                        </div>
                        
                        <div id="click1" class="hideme" style="cursor: pointer; margin-left: 80px; margin-top: 150px; position: absolute; width: 200px; height: 100px; background-color: white; text-align: center; padding: 10px;">
                            <div style="color: black;" >
                            Bất động sản
                            
                            </div>
                            <div style="margin-top: 10px;">
                            Click to show modal popup
                            </div>
                            
                        </div>
                        
                        <div id="click2" class="hideme" style="cursor: pointer; margin-left: 370px; margin-top: 150px; position: absolute; width: 200px; height: 100px; background-color: white; padding: 10px;">
                            <div style="color: black;">
                            Bất động sản
                            </div>
                            <div style="margin-top: 10px;">
                            Click to show modal popup
                            </div>
                            
                        </div>
                        <div id="click3" class="hideme" style="margin-left: 230px; margin-top: 290px; position: absolute; width: 200px; height: 100px; background-color: white; padding: 10px;">
                            <div style="color: black;">
                            Bất động sản
                            <a id="modal-74399" href="#modal-container-74399" role="button" class="btn" data-toggle="modal">Launch demo modal</a>
                            </div>
                            <div style="margin-top: 10px;">
                            Click to show modal popup
                            </div>
                        </div>
                    </div>
                    
				</div>
			</div>
            <!-- END Part 3 -->
            
            <!-- Part 4 -->
			<div class="row clearfix" style="margin-top: 20px; background: url(img/80_percent_white_bg.png)">
				<div class="col-md-12 column">
                    <div>
                        <button type="button" class="btn btn-primary hideme trongsuot-0"
                                style="
                                border-radius: 0px !important ; padding-left: 30px !important; padding-right: 30px !important; color: black; border: solid 1px black; margin-left: 10%; margin-top: 20px;">
                                HỢP TÁC
                        </button>
                    </div>
                    <div class="hideme" style="text-align: center; margin-top: 10px;">
                        <div style="margin-top: 10px; display: inline-block; width: 60%; text-align: center; border-radius: 7px ; padding: 20px;">
                        Đội ngũ tư vấn bất động sản VIỆT NGÂN gồm các chuyên viên và cộng sự giàu kinh nghiệm, am hiểu thị trường, có mối quan hệ xã hội sâu rộng, cho phép chúng tôi cung cấp dịch vụ toàn diện với chất lượng cao, đảm bảo lợi ích tối ưu cho khách hàng. Mục tiêu của chúng tôi là xây dựng thương hiệu bất động sản đáng tin cậy hàng đầu thị trường. Chuyên môn của chúng tôi bao gồm
                        </div>
                    </div>
                    
				</div>
			</div>
            <!-- END Part 4 -->
            <!-- Part 5 -->
			<div class="row clearfix" style="margin-top: 20px; background: url(img/80_percent_white_bg.png)">
				<div class="col-md-12 column">
                    <div style="text-align: center;">
                        <button type="button" class="btn btn-primary hideme trongsuot-0"
                            style="
                            border-radius: 0px !important ; padding-left: 30px !important; padding-right: 30px !important; color: black; border: solid 1px black; margin-top: 20px;">
                            LIÊN HỆ
                        </button>
                        <br />
                        <div class="hideme" style="margin-top: 10px; display: inline-block; width: 60%; text-align: center; border-radius: 7px ; padding: 20px;">
                        Đội ngũ tư vấn bất động sản VIỆT NGÂN gồm các chuyên viên và cộng sự giàu kinh nghiệm, am hiểu thị trường, có mối quan hệ xã hội sâu rộng, cho phép chúng tôi cung cấp dịch vụ toàn diện với chất lượng cao, đảm bảo lợi ích tối ưu cho khách hàng. Mục tiêu của chúng tôi là xây dựng thương hiệu bất động sản đáng tin cậy hàng đầu thị trường. Chuyên môn của chúng tôi bao gồm
                        </div>
                        <hr style="border: solid 1px white;" />
                        <div class="hideme" style="height: 70px;">
                            <style>
                            .social{
                                margin-left: 20px;
                            }
                            .social:hover{
                                opacity: 0.7;
                            }
                            </style>
                            <a href="facebook.com">
                                <img class="social" width="35px" height="35px" src="img/vn_facebook.png" style="border-radius: 50% 50% 50% 50%;" />
                            </a>
                            <a href="twitter.com">
                                <img class="social" width="35px" height="35px" src="img/vn_twitter.png" style="border-radius: 50% 50% 50% 50%;" />
                            </a>
                            <a href="google.com">
                                <img class="social" width="35px" height="35px" src="img/vn_google.png" style="border-radius: 50% 50% 50% 50%;" />
                            </a>                  
                        </div>
                            
                        
                        </div>
                    
				</div>
			</div>
            <!-- END Part 5 -->
            <!-- Part 5 -->
			<div class="row clearfix" style="margin-top: 1px; background: url(img/80_percent_white_bg.png)">
				<div class="col-md-12 column">
                    <div class="hideme" style="text-align: center; padding-top: 40px; padding-bottom: 40px;">
                        
                        Copyright &copy; 2015 Việt Ngân
                        
                        
                    </div>
                        
				</div>
			</div>
            <!-- END Part 5 -->
			
			
		</div>
	</div>
</div>
</body>
</html>
